#bj{
	height:800px;
	background:url(../img/test_cm.jpg);
	background-size:100%;
}
#bj ul{
	list-style:none;
	width:578px;
	height:100%;margin:auto;
	padding:70px 0px 100px 0px;
}
#bj ul li{
	width:578px;
	height:550px;
}
#bj ul li table{
	margin-left:20px;
	margin-top:80px;
}
.cclose{
	background:#aaa;
}
.copen{
	background:#FF0000;
}
.infor{
	display:none;
}
.coat{
	border:1px solid #000;
	font-size:16px;
	color:red;
}
	